
/*
Free Bootstrap Templates Designed by Zerotheme
Website : https://www.Zerotheme.com
*/

/* ==== Google font ==== */

/*
font-family: 'Nanum Myeongjo', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {font-family: 'Nanum Myeongjo', serif;font-weight: 300;color: #666;background-color: #fff;font-size: 15px;line-height: 1.75;hyphens: auto;overflow-wrap: break-word;}
html, body {width:100%; padding:0; margin:0;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

h1 {font-size: 38px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {font-weight: 600;color: #333;font-family: 'Nanum Myeongjo', serif;letter-spacing: 1px;line-height: 1.3;}

p {margin: 0 0 20px;}

a {color: #42AB9E;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
a:hover,
a:focus {text-decoration: underline;color: #42AB9E;}

button {border: none;outline: 0;}
ul li{list-style: none;}
input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="search"], textarea, .form-control, select {
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #999999;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 47px;
    line-height: 1.2;
    margin: 15px 0;
    outline: medium none;
    padding: 5px 10px;
    transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    width: 100%;
	background-color: #fff;
    border: 1px solid #777;
}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* --Line-- */
hr.line { margin: 15px auto; padding: 0; max-width: 70px;border: 0; border-top: solid 3px #2b2d3f;text-align: center;}

/* --Page-- */
body.index-page {}
body.sub-page{}
body.sub-page header .main-header{height: 47vh;background: url("/static/images/original.jpeg") center center;}

body .wrap-body{position: relative;font-family: 'Nanum Myeongjo', serif;}
body .wrap-body #page-top{position: fixed;right: font-family: 'Nanum Myeongjo', serif;40px;bottom: 40px;z-index: 999;}
/* ---------------------------------------------------------------------------- */
/* -------------------------------Header-Styles-------------------------------- */
/* ---------------------------------------------------------------------------- */

header .main-header{position: relative;height: 100vh;width: 100%;background: url("/static/images/original.jpeg") center center;background-size: cover;z-index: 2;}
body.index-page header{height:100vh;}
header.sub-header{background:#1D2027;min-height: 120px;}

/* Header Styles */
.header-text {text-align:center; margin-top: 7vh;transition: opacity 1s ease 0s, transform 1s ease 0s;z-index: 1;opacity: 1;}
body.index-page .header-text{text-align: center;margin: 35vh auto 0;}
body.index-page .header-text .header-text-inner{text-align: center;display: inline-block;padding: 20px 40px;font-family: 'Nanum Myeongjo', serif;}
body.sub-page .header-text{padding-left: 10%;margin-top: 12vh;}
.header-text.remove {-moz-transform: translateY(3rem);-webkit-transform: translateY(3rem);-ms-transform: translateY(3rem);transform: translateY(3rem);-moz-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;opacity: 0;visibility: hidden;}

.header-text h1{text-align: center;margin: 0 auto;text-transform: uppercase;color: #fff;font-size: 49px;letter-spacing: 13px;font-family: 'Nanum Myeongjo', serif;}
.header-text p{text-align: center;margin: 10px;margin-bottom: 0;font-size: 18px;color: #fff;letter-spacing: 6.5px;font-family: 'Nanum Myeongjo', serif;}

@media(max-width:978px) {
    body.index-page .header-text h1{font-size: 39px;letter-spacing: 10px;}
	body.index-page .header-text p{font-size: 16px;letter-spacing: 5px;margin-top: 0}
}
@media(max-width:767px) {
    body.index-page .header-text{width: 85vw;margin: 25vh auto 0;}
}

.main-header .scroller {position: absolute;bottom: 0;left: 0;right: 0;display: inline-block;font-size: 40px;margin: 0 auto;text-align: center;width: 80px;}
.main-header .scroller:focus {color: inherit;text-decoration: none;}
.main-header .scroller:hover {color: #ebebeb;}
.main-header .scroller:hover .scroller-button {padding: 12px 14px 5px;background: rgba(66, 171, 158, 1);color: rgba(255, 255, 255, 1);}
.main-header .scroller .scroller-button{-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background: rgba(66, 171, 158, .6);display: inline-block;padding: 5px 14px;line-height: 40px;color: rgba(255, 255, 255, 0.7);height: 70px;}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Menu------------------------------------ */
/* ---------------------------------------------------------------------------- */
#menu {border-radius: 0;padding: 10px 15px;text-transform: uppercase;font-family: 'Nanum Myeongjo', serif;background: #fff;}
#menu #heading {float: left;padding-left: 15px;font-size: 20px;font-weight: 700;line-height: 40px;color: #fff;margin-top: 10px;text-transform: uppercase;}
#menu a.navbar-brand:hover{color: #fff;}
#menu .navbar-brand{margin: 0;height: auto;text-transform: uppercase;padding: 0px 18px;}
#menu .logo {}
#menu .dropdown-menu {background-color: #2B2D3F;border:none;border-radius: 0;}

#menu ul.nav .dropdown-menu li a{color: #fff;}
#menu ul.nav .dropdown-menu li a:hover{color: #42AB9E;}
#menu .dropdown-inner {display: table;}
#menu .dropdown-inner ul {display: table-cell;}
#menu .dropdown-inner a {min-width: 160px;display: block;padding: 3px 20px;clear: both;line-height: 20px;color: #000;margin: 0 5px;}
#menu li.dropdown:hover>a, #menu li.dropdown:focus>a, #menu li.dropdown:active>a{color: #42AB9E;background: none;}
.navbar{margin: 0;}
#menu ul.nav li{padding-right: 16px;}
#menu ul.nav li a{padding: 8px 10px;color: #333;font-size: 14px;font-weight: bold;position:relative;}
#menu ul.nav li.active a:after{position: absolute;content: "";background: #333;bottom: 0;left: 50%;height: 3px; width: 20px;transform: translateX(-50%);}
#menu ul.nav li.dropdown a{}
#menu .nav > li > a:hover, #menu .nav > li > a:focus{color:#42AB9E;background: none;}

#menu .btn-navbar {font-size: 20px;color: #FFF;padding: 5px 15px;float: right;border: 3px solid #fff;}


@media  (min-width: 768px) {
    #menu ul.nav {float:right; margin-top: 5px;}
	#menu .dropdown:hover .dropdown-menu {display: block;}

}
@media(max-width:767px) {

	#menu{background: #1D2027;padding: 10px 0;}
	#menu .navbar-brand {display: block;color: #fff;margin-top: 10px;}
	#menu div.dropdown-inner > ul.list-unstyled {display: block;}
	#menu .dropdown-inner a {width: 100%;color: #fff;}
	#menu div.dropdown-menu {margin-left: 0 !important;	padding-bottom: 10px;background-color: rgba(0, 0, 0, 0.1);}
	#menu ul.nav li a{color: #fff;}
}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content {position: relative;overflow: visible;z-index: 2;background: #ffffff;box-shadow: rgba(0,0,0,0.7) 0 105px 90px -90px;}

/* ---HomePage--- */
.box-content {padding: 100px 0;}
.box-content .heading{margin-bottom: 70px; text-align: center;}
.box-content .heading h2{color: #2b2d3f;font-size: 30px;text-transform: uppercase;font-weight: 800;letter-spacing: 8px}
.box-content .heading .intro{max-width: 300px;margin: auto}

.box-content.box-style-2{background: #ECECEC;}
.box-content.box-style-3{background: url(../images/bg.jpg) fixed;}
.box-content.box-style-4{background: url(../images/bg4.jpg) center center;}

/*#counter {
    min-height: 440px;
    background: #bdbebd;
    border-bottom: 1px solid #8c8e8c;
}*/
/*.counter_header {
    padding-top: 80px;
    text-align: center;
    color: #fff;
}*/
section#counter {
    background: rgba(0,0,0,0) no-repeat scroll top center / cover;
    color: #000000;
}
.counter_img_overlay {
    position: relative;
    padding: 80px 0;
    text-align: center;
    width: 100%;
    height: 100%;;
}
.counter_header h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: 'Nanum Myeongjo', serif;
}
.counter_header p {
    font-size: 20px;
    padding-bottom: 60px;
    font-family: 'Nanum Myeongjo', serif;
    padding-top: 15px;
}
.counter_text {
    color: #000000;
    font-weight: 700;
}
.sigle_counter_item {
    padding-top: 20px;
    padding-bottom: 0px;
}
.sigle_counter_item img {
    padding-bottom: 20px;
    height: 200px;
}
.sigle_counter_item i {
    font-size: 60px;
    padding: 10px;
    color: #43A906;
}
.counter_text span {
    font-size: 32px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
}
.counter_text p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'Nanum Myeongjo', serif;
    color: #000000;
    margin-top: 10px;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
	border-radius: 0;
	outline: none;
	color: #785843;
	font-family: 'Nanum Myeongjo', serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;	
	font-size: 13px;
}
a.btn:focus{outline: 0;}

.btn-skin {padding: 9px 20px;color: #fff;background-color: #42AB9E;margin: 10px 0;font-weight: 400;}
.btn-skin i.fa{padding-left: 5px;}
.btn-skin:hover, .btn-skin:focus {color: #fff;background-color: #173E43;}
.btn-toTop{height: 42px;width: 42px;padding: 7px 0 0;border: 2px solid #42AB9E;margin: 0;color: #42AB9E;}
.btn-toTop:hover{background: #42AB9E;color: #fff;}
